/* Right eye inner */
.eyes > svg > path:nth-child(1) {
  stroke: var(--clr-inn0);
}

/* Left eye inner */
.eyes > svg > path:nth-child(2) {
  stroke: var(--clr-inn0);
}
.heterochromatic.eyes > svg > path:nth-child(2) {
  stroke: var(--clr-inn1);
}

/* Left eye outline */
.eyes.diff-outline > svg > path:nth-child(4) {
  stroke: var(--clr-out0);
}

/* Right eye outline */
.eyes.diff-outline > svg > path:nth-child(5) {
  stroke: var(--clr-out0);
}
.heterochromatic.eyes.diff-outline > svg > path:nth-child(5) {
  stroke: var(--clr-out1);
}

@media only screen and (max-width: 575.98px) {
  .eyes svg,
  .eyebrows svg,
  .mouth svg {
    width: 100%;
    height: auto;
  }
}
